@import "tailwindcss";

.transition-transform {
  transition: transform 0.3s ease-out;
}

/* Animación de aparición del modal */
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out forwards;
}

@keyframes fadeIn {
  0%   { opacity: 0; transform: scale(.95); }
  100% { opacity: 1; transform: scale(1); }
}
.animate-fadeIn { animation: fadeIn .3s ease-out forwards; }

@keyframes fadeOut {
  0%   { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(.95); }
}
.animate-fadeOut { animation: fadeOut .3s ease-out forwards; }